

build/freetype/iphoneos-arm64/freetype-2.5.5/ChangeLog.22
# macOS
.DS_Store
**/.DS_Store

# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo

# Build outputs
build/
dist/

# Kivy logs
*.log

# Virtual environments›
venv/
.env/
kivytest/
kivytest311/

# Xcode
DerivedData/
*.xcuserstate
xcuserdata/

# Kivy-iOS generated junk
YourApp/build/
YourApp/dist/

# Simulator/device artifacts
*.app
.cache/freetype-freetype-2.5.5.tar.bz2
.cache/
.DS_Store
main.oldtest.py
